---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Dalbro-Deco - Handelsbetingelser"
  description="Handelsbetingelser"
>
  <main>
    <h1>Handelsbetingelser</h1>
    <p>
      <strong>Dalbro-Deco er ejet og drevet af:</strong>
    </p>
    <p>
      Katrine Dalbro Bering<br />
       Kløverbo 36<br />
       2665 Vallensbæk Strand<br />
    </p>
    <p>
      Tlf: 61271858<br />
       Mail: dalbro.deco@gmail.com<br />
       Website: dalbro-deco.dk<br />
       CVR: *****
    </p>

    <h2>Forretnings og samhandelsbetingelser</h2>
    <p>
      Alle aftaler er bindende. Alle priser er i danske kroner og eksklusiv
      moms, både på hjemmesiden og i tilbud mv.
    </p>

    <h2>Betaling</h2>
    <p>
      Betalingsfrist 8 dage derefter skal aftalte datoer og pris genforhandles.
      Der fremsendes faktura på 50% af det aftalte beløb efter accept af tilbud.
      Dette skal være betalt, inden opgavestart. Ved manglende betaling,
      opstartes opgaven ikke, Ved forsinket betaling pålægges renter på 15% pr.
      måned. Der tages forbehold for pris fejl på fremsendte tilbud.
    </p>

    <h2>Aftalebetingelser og fortrydelsesret</h2>
    <p>
      Alle ydelser som Katrine Dalbro Bering levere bliver opstartet på aftalte
      tidspunkt, aftaler indgået med accept er bindende, så snart en bekræftelse
      er sendt pr. mail. Aflysning skal ske senest 14 dage før det aftalte
      starts tidspunkt for opgavestart, for at få refunderet betalingen på 50%
      af det fulde beløb. Aflyses der mindre end 14 dage før opgavestart bliver
      opstarts gebyret på 50% af det fulde beløb ikke refunderet. Rykkes
      tidspunktet for opgaveløsning gælder samme betingelser for den nye aftale.
      Hvis den nye aftale indgås inden for tre måner. Ønskes samarbejdet ophørt
      undervejs i proces, afregnes både de leverede ydelser og planlagte
      ydelser. Må den aftalte ydelse mod forventning (for eksempel grundet
      sygdom) aflyses af Katrine Dalbro Bering, bliver I tilbudt en tilsvarende
      ydelse på et senere tidspunkt eller refundering af det fulde betalte
      beløb.
    </p>

    <h2>Ansvar</h2>
    <p>
      Dalbro-Deco og eventuelle samarbejdspartnere som benyttes i forbindelse
      med løsning af opgaver, kan ikke drages til ansvar for direkte eller
      indirekte tab, som følge af vores arbejde. Det påhviler virksomheden at
      sikre, Dalbro-Decos sikkerhed under opgaveløsning.
    </p>

    <h2>Leveringstider</h2>
    <p>
      Leveringstider varierer, og aftales individuelt. Dette vil tydeligt fremgå
      af ordrebekræftelsen, vær opmærksom på at det er en god ide at booke
      opgaven i god tid, da processen tager tid og kalenderen kan være booket.
    </p>

    <h2>Fortrolighed</h2>
    <p>
      Begge parter skal opretholde fortrolighed om alle forretningsmæssige
      oplysninger og ideer, der bliver udvekslet i forbindelse med aftalen.
    </p>

    <h2>Lovvalg og tvistløsning</h2>
    <p>
      Aftalen er underlagt Danmarks lovgivning. Enhver tvist skal forsøges løst
      gennem forhandlinger, og hvis det ikke er muligt at komme til enighed,
      skal tvisten afgøres ved domstolen. Ved at acceptere disse
      handelsbetingelser bekræfter kunden, at de har læst og forstået vilkårene
      og er bundet af dem.
    </p>

    <h2>Øvrigt</h2>
    <p>
      Pris for kørsel: 3,54 kroner pr. km, der kommer oveni timetaksten og
      afregnes separat. Alle aftaler er bindende. Hvis ikke andet er aftalt, må
      jeg henvise til de opgaver jeg laver for virksomheden i min markedsføring
      og på min hjemmesiden. Ophavsret til alle skabte dekorationer forbliver
      hos Dalbro-Deco. Ønsker kunden at opnår ejendomsretten til dekorations
      materiale og stafage opnår kunden ret til dette ved aftale og fuld
      betaling af anvendte materiale.
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
