---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <footer>
      © Dalbro-Deco | CVR 44456621 | <a href="/handelsbetingelser"
        >Handelsbetingelser</a>
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --accent: 200, 152, 152;
    --accent-light: 248, 168, 144;
    --accent-dark: 160, 136, 136;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #806060;
    background-size: 224px;
  }
  footer {
    text-align: center;
    margin: auto;
    padding: 1rem;
    color: white;
    line-height: 1.6;
  }

  footer a {
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
